<h1>Edit</h1>

<form action="/recipes/<%= @recipe.id %>" method="POST">

<input type="hidden" name="_method" value="PUT">
<div class="form-group">
    <label for="recipe_title">Title</label>
    <input class="form-control" type="text" name="recipe[title]" id="recipe_title" value="<%= @recipe.title %>">
  </div>

  <div class="form-group">
    <label for="recipe_author">Author</label>
    <input class="form-control" type="text" name="recipe[author]" id="recipe_author" value="<%= @recipe.author %>">
  </div>

  <div class="form-group">
    <label for="recipe_image">Image URL</label>
    <input class="form-control" type="text" name="recipe[image]" id="recipe_image" value="<%= @recipe.image %>">
  </div>

  <div class="form-group">
    <label for="recipe_category">Category</label>
    <select class="form-control" name="recipe[category]" id="recipe_category">
    <% @categories.each do |category| %>
    <option <% if @recipe.category == category%> selected <% end %>><%= category %></option>
    <% end %>
    </select>
  </div>

  <div class="form-group">
    <label for="recipe_description">Description</label>
    <input class="form-control" type="text" name="recipe[description]" id="recipe_description" value="<%= @recipe.description %>">
  </div>

  <div class="form-group">
    <label for="recipe_url">URL</label>
    <input class="form-control" type="text" name="recipe[recipe_url]" id="recipe_url" value="<%= @recipe.recipe_url %>">
  </div>    

    <button class="btn btn-primary">Update post</button>
</form>
&nbsp;
<form action="/recipes/<%=@recipe.id%>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-default">Delete post</button>
</form>