
<div class="row">
  <div class="col-md-12"">
    <div class="thumbnail">
      <h3><%= @video.title %></h3>
        <div class="iframe-container">
          <iframe class="iframeResponsive" width="560px" height="315px" src="https://www.youtube.com/embed/<%= @video.url %>" frameborder="0" allowfullscreen></iframe>
        </div>  
      <div class="caption">
        <p><%= @video.genre %></p>
        <p><%= @video.description %></p>
        <p><a href="/videos/<%= @video.id %>/edit" class="btn btn-primary" role="button">Edit</a></p>
      </div>
    </div>
  </div>
</div>

