
<div class="row">
  <div class="thumbnail">
    <h3><%= @video.title %></h3>
      <div class="iframe-container">
        <iframe width="300" height="169" src="https://www.youtube.com/embed/<%= @video.url %>" frameborder="0" allowfullscreen></iframe>
      </div>  
    <div class="caption">
      <p><%= @video.genre %></p>
      <p><%= @video.description %></p>
      <p><a href="/videos/<%= @video.id %>/edit" class="btn btn-primary" role="button">Edit</a></p>
    </div>
  </div>
</div>

