<!DOCTYPE html>
<html>
  <head>
    <title>StreetArtGallery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to "Locations", locations_path %></li>
          <li><%= link_to "Create Location", new_location_path %></li>
        </ul>
      </nav>
    </header>
      <div class="container">
        <%= yield %>
      </div>  
  </body>
</html>
