<h2>Edit Post</h2>

<form action="/posts/<%= @post.id %>" method="POST">
<input type="hidden" name="_method" value="PUT">
  
  <div class="form-group">
    <input name="post[title]" placeholder="Title" class="form-control" value="<%= @post.title %>">
  </div>

 <div class="form-group">
    <textarea name="post[description]" placeholder="Description" class="form-control"><%= @post.description %></textarea>
  </div>


  <div class="input-group form-group">
  <div class="input-group-addon">Date of Connection</div>
    <input type="date" name="post[date]" placeholder="Date: " class="form-control" value="<%= @post.date %>">
  </div>

  <div class="input-group form-group">
  <div class="input-group-addon">Time of Connection (24 hour format)</div>
    <input type="time" name="post[time]" placeholder="Time" class="form-control" value="<%= @post.time.strftime('%H:%M') %>">
  </div>



  <% @lines.each do |line| %>
    <div class="col-md-6">
    <h4><%= line.name %></h4>
      <% line.stations.each do |s| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="post[station_ids][]" value="<%= s.id %>"<% if @post.station_ids.include? s.id %> checked<% end %>>
            <%= s.name %> 
          </label>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <input type="hidden" name="post[user_id]" placeholder="User" class="form-control" value="<%= @user_id %>">
  </div>

  <button class="btn btn-primary">Update</button>

</form>

&nbsp;

<form action="/posts/<%= @post.id %>" method="POST" class="delete">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-danger">Delete</button>
</form>