<h2>Show</h2>

<div class="row">
    <div class="">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <a href="/posts/<%= @post.id %>">
              <%= @post.title %>  
            </a>
          </h2>
          <h3><%= @post.stations.map { |station| station.name }.join(", ") %></h3>
          <p>@<%= @post.user.username %></p>
          <p>When: <%= @post.date.strftime("%m/%d/%Y") %>, <%= @post.time.strftime("%I:%M%p") %></p>
          <p><%= @post.description %></p> 

          <p><a href="/posts/<%= @post.id %>/edit" class="btn btn-primary" role="button">Edit</a> 
          <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
</div >
