<h1>Edit</h1>

<img src="<%= homeworkObject.image %>" alt= "<%= homeworkObject.caption %>">

<form method="POST" action="/home/<%= homeworkObject.id %>">

  <input type="hidden" name="_method" value="PUT">

  <label for="homework_image">image</label>
  <input type="text" name="homework[image]" value="<%= homeworkObject.image %>">

  <label for="homework_caption">caption</label>
  <input type="text" name="homework[caption]" value="<%= homeworkObject.caption %>">

  <button>Update</button>
</form>