<h2>Stations</h2>

<div class="row">
  <% @stations.each do |station| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <a href="/stations/<%= station.id %>">
              <%= station.name %>   
            </a>
          </h2>
          <% station.posts.each do |p| %>
            <p>
              <a href="/posts/<%= p.id %>"><%= p.date.strftime("%m/%d/%Y") %> - <%= p.title %></a>
            </p>
          <% end %> 
        </div>
      </div>
    </div>
  <% end %>
</div >
