<h2>Show</h2>

<div class="row">
    <div class="">
      <div class="thumbnail">
        <div class="caption">
          <h2>
            <a href="/stations/<%= @station.id %>">
              <%= @station.name %>  
            </a>
          </h2>
              <p>
              <% @station.posts.each do |p| %><br>
              <a href="/posts/<%= p.id %>"><%= p.date.strftime("%m/%d/%Y") %> - <%= p.title %></a>
              <% end %>
              </p>
    
          <p><a href="/stations/<%= @station.id %>/edit" class="btn btn-primary" role="button">Edit</a> 

        </div>
      </div>
    </div>
</div >


